/*th, td {
    border: solid 1px;
}*/

table {
    background-color: white;
    margin: auto;
    padding-top: 20px; /*à changer ??*/
    padding-bottom: 20px;
}

tbody h1 {
    padding: 20px;
    font-weight: 500;
    font-size: 18pt;
}

tbody h2 {
    font-weight: 700;
    color: rgb(0, 102, 255);
}

tbody li {
    font-size: 10pt;
    color: grey;
}

tbody tr {
    margin: 20px;
}

.logo_Linkedin1 {
    width: 15%;
    margin-left: -150px;
    
}

thead th+th img {
    border-radius: 50%;
    width: 35%;
}

tbody img {
    width: 20%;
    margin-left: 20px;
}

.bouton_1 {
    display: inline-block;
    border: solid 1px ;
    border-radius: 20px;
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

tfoot img {
    border-radius: 50%;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}

tfoot>tr+tr {
    text-align: center;
}
tfoot>tr+tr+tr+tr p {
    display: inline-block;
    border: solid 1px rgb(0, 102, 255);
    border-radius: 20px;
    color: rgb(0, 102, 255);
    padding: 10px;
    margin: 20px;
}